body{
	background-color:rgb(251, 251, 251);
	font-family: 'Lato', sans-serif;
    padding-top: 70px;
}/*background color */

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}


.navbar-nav > .nav-item > a {
position: relative; 
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;

  border: 1px solid #dddddd;
  border-radius: 4px;

  margin-bottom: 20px;
  width: 100%;

  transition: box-shadow .15s;
}

.content-section:hover {
/*
  box-shadow: 0 5px 20px rgba(0, 0, 2, 5.5);*/
  box-shadow: 0 5px 20px rgba(60, 64, 67, 5.5);
}
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}