{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Quem somos?</h1>
            <p class="lead">O Banco da Saúde é uma Entidade Solidária, que se está a servir de uma Plataforma Informática para cumprir
                de forma  o seu objeto social e conseguir fazer chegar os
                medicamentos a quem, não tendo dinheiro para os adquirir, deles necessita.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Onde nos encontrar?</h3>
                    <p>Venha registar-se na Câmara Municipal, ou Junta de Freguesia, mais perto de si de modo a poder começar
                a beneficiar do nosso apoio em medicamentos de doenças crónicas. <p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>O que necessito para me registar?</h3>
                    <p>Venha registar-se na Câmara Municipal, ou Junta de Freguesia, mais perto de si de modo a poder começar
                a beneficiar do nosso apoio em medicamentos de doenças crónicas. <p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Que serviços oferecemos?</h3>
                    <p>Venha registar-se na Câmara Municipal, ou Junta de Freguesia, mais perto de si de modo a poder começar
                a beneficiar do nosso apoio em medicamentos de doenças crónicas. <p>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}