{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block title%}<title>Registar Utilizador - Banco da Saúde</title>{%endblock%}

{% block bg %}
	background="{% static 'backgrounds/SignUp.jpg' %}"
{% endblock %}

{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Registe-se agora</legend>
				{{ form|crispy }}
			</fieldset>
			
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Registar</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Já tem uma conta? <a class="ml-2" href="{% url 'login' %}">Faça o login</a>
			</small>
		</div>
	</div>
{% endblock content %}