{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user_edit.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user_edit.username }}</h2>
                <p class="text-secondary">{{ user_edit.email }} </p>
                {% if user_edit.profile.partner %}<h2 class="text-secondary">{{ user_edit.profile.partner }}</h2> {% endif %}
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Atualize a informação do seu perfil</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
			</fieldset>

			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Atualizar</button>
			</div>
		</form>
    </div>
    
{% endblock %}